<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/people/search']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card mat-elevation-z0">
    <form [formGroup]="personForm" (ngSubmit)="onFormSubmit(personForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="First Name*" formControlName="firstName"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!personForm.controls.firstName.valid && personForm.controls.firstName.touched">Invalid First Name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Last Name*" formControlName="lastName"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!personForm.controls.lastName.valid && personForm.controls.lastName.touched">Invalid Last Name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Date of Birth*" formControlName="dateOfBirth"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!personForm.controls.dateOfBirth.valid && personForm.controls.dateOfBirth.touched">Invalid Date of Birth</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Interests" formControlName="interests"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!personForm.controls.interests.valid && personForm.controls.interests.touched">Invalid Interests</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Profile Picture Url" formControlName="profilePicUrl"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!personForm.controls.profilePicUrl.valid && personForm.controls.profilePicUrl.touched">Invalid Profile Picture Url</span>
        </mat-error>
      </mat-form-field>
      <div formGroupName="address">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Address*" formControlName="line1"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!personForm.controls.address.controls.line1.valid && personForm.controls.address.controls.line1.touched">Invalid Address</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="City*" formControlName="city"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!personForm.controls.address.controls.city.valid && personForm.controls.address.controls.city.touched">Invalid City</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="State*" formControlName="state"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!personForm.controls.address.controls.state.valid && personForm.controls.address.controls.state.touched">Invalid State</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Postal Code*" formControlName="postalCode"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!personForm.controls.address.controls.postalCode.valid && personForm.controls.address.controls.postalCode.touched">Invalid Postal Code</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="button-row">
        <button type="submit" [disabled]="!personForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>
