.detail-container {
  position: relative;
  padding: 5px;
  max-width: 400px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.mat-card {
}

.mat-card-title {
  display: flex;
}

.mat-flat-button {
  margin: 5px;
}
