<div class="detail-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/people/search']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card mat-elevation-z0" *ngIf="person">
    <mat-card-header>
      <mat-card-title>
        <img src="{{person.profilePicUrl}}" alt="{{person.firstName}}">
        <h3>{{person.firstName}} {{person.lastName}}</h3>
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div><strong>Interests: </strong>{{person.interests}}</div>
      <div><strong>Age: </strong>{{person.dateOfBirth | age}}</div>
      <div><strong>Address:</strong></div>
      <div>{{person.address.line1}}</div>
      <div>{{person.address.city}}, {{person.address.state}}</div>
      <div>{{person.address.postalCode}}</div>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/people/edit', person.id]"><mat-icon>edit</mat-icon></a>
      <a mat-flat-button color="warn" (click)="deletePerson(person.id)"><mat-icon>delete</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>
