<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/people/add']"><mat-icon>add</mat-icon></a>
  </div>
  <div>
    <form [formGroup]="searchForm" (ngSubmit)="onFormSubmit(searchForm.value.searchTerm)">
      <div class="form-container">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Search people by first or last name" formControlName="searchTerm"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!searchForm.controls.searchTerm.valid && searchForm.controls.searchTerm.touched">Invalid Search</span>
          </mat-error>
        </mat-form-field>
        <div class="button-row">
          <button type="submit" [disabled]="!searchForm.valid" mat-flat-button color="primary"><mat-icon>search</mat-icon></button>
        </div>
      </div>

    </form>

    <div *ngIf="resultCount > maxResults" class="max-results"><h4>{{resultCount}} people found. Only displaying {{maxResults}}. Please refine your search.</h4></div>
    <div *ngIf="resultCount === 0" class="no-results"><h4>{{resultCount}} people found.</h4></div>
    <table mat-table [dataSource]="data" class="example-table" *ngIf="resultCount > 0"
           matSort matSortActive="lastName" matSortDisableClear matSortDirection="asc">

      <ng-container matColumnDef="firstName" class="mat-column-first-name">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
      </ng-container>

      <ng-container matColumnDef="lastName" class="mat-column-last-name">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="city" class="mat-column-city">
        <th mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let row">{{row.address.city}}</td>
      </ng-container>

      <ng-container matColumnDef="state" class="mat-column-state">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let row">{{row.address.state}}</td>
      </ng-container>

      <ng-container matColumnDef="actions" class="mat-column-action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <a mat-flat-button color="primary" [routerLink]="['/people', row.id]"><mat-icon>info</mat-icon></a>
          <a mat-flat-button color="primary" [routerLink]="['/people/edit', row.id]"><mat-icon>edit</mat-icon></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/people', row.id]"></tr>
    </table>
  </div>
</div>
