/* Structure */
.example-container {
  position: relative;
  padding: 5px;
}

.form-container {
  position: relative;
  padding: 20px;
}

.fill-space {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.mat-flat-button {
  margin: 5px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

  .example-full-width:nth-last-child() {
    margin-bottom: 10px;
  }

.button-row {
  margin: 10px 0;
}

.mat-flat-button {
  margin: 5px;
}

.max-results {
  padding-left: 24px
}

.no-results {
  padding: 24px;
}

.mat-column-first-name{
  width: 22%;
}

.mat-column-last-name {
  width: 22%;
}

.mat-column-city {
  width: 22%;
}

.mat-column-state {
  width: 22%;
}

.mat-column-actions {
  width: 12%;
}
